

.container-fluid{
    margin-top: 150px;
    margin-bottom: 150px;
    margin-left: 150px;
    margin-right: 150px;


    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: beige;
}


 .div-1{
    justify-content: center;
    text-align: center;
}


.div-2{
    justify-content: center;
    text-align: center;
}

.div-3{
    justify-content: center;
    text-align: center;
    display: flex;

}


.div-4{
    justify-content: center;
    text-align: center;

}

.div-4-li{
    list-style: none;
}